env/
umap_output/.DS_Store
umap_output_test
database exploration/inferenza deberta (test split)/results.csv
database exploration/umap/50d/full_dataset/umap_full_results.npz
database exploration/umap/50d/full_dataset/umap_full_dataset_50d.npz
